NEXT_PUBLIC_SUPABASE_URL=https://nkrqpsjvxiassgljpzsc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5rcnFwc2p2eGlhc3NnbGpwenNjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyODE0MzQsImV4cCI6MjA5NDg1NzQzNH0.AVvis0L2m0s2xmAQyidrbsANAEoIF8rQp9mUdQQ-TAg
NEXT_PUBLIC_SITE_URL=https://ischiamotion.vercel.app
RESEND_API_KEY=re_D7kEJrpa_A2mxyvywXnLgabWqoiDsLmZt
BOOKING_ADMIN_EMAIL=info@ischiamotion.com
BOOKING_FROM_EMAIL=IschiaMotion <info@ischiamotion.com>
NEXT_PUBLIC_SITE_URL=https://ischiamotion.com